
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    --gun_bg_colour: none;
    --spaceship_bg_colour: none;
    --game_bg_colour: black;
    --txt_colour_white: white;
    --txt_colour_black: black;
    --txt_colour_red: red;
    --txt_colour_gun: rgba(4, 0, 255, 0.993);
    --txt_colour_spaceship: rgb(255, 0, 0);
}

/* ----- All keyframe animations below ----- */

@keyframes spaceship
{
    from {width: 10%;}
    to {width: 98%;}
}

@keyframes spaceship_numbers
{
    from {font-size: 0.12em;}
    to {font-size: 1.2em;}
}

@keyframes gunner_number
{
    from {font-size: 0.18em;}
    to {font-size: 1.8em;}
}

@keyframes gunner
{
    from {width: 5%; bottom: 0;}
    to {width: 10%; bottom: 2.5%;}
}

@keyframes gunner_projectile
{
    from {width: 5%; bottom: 5%;}
    to {width: 10%; bottom: 2.5%;}
}

@keyframes shake 
{
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-5deg); }
    20% { transform: translate(-3px, 0px) rotate(5deg); }
    30% { transform: translate(3px, 2px) rotate(5deg); }
    40% { transform: translate(1px, -1px) rotate(5deg); }
    50% { transform: translate(-1px, 2px) rotate(-5deg); }
    60% { transform: translate(-3px, 1px) rotate(5deg); }
    70% { transform: translate(3px, 1px) rotate(-5deg); }
    80% { transform: translate(-1px, -1px) rotate(5deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-5deg); }
  }

  @keyframes shake_2 
  {
    10%, 90% { transform: translate3d(-2%, 0, 0); }
    20%, 80% { transform: translate3d(2%, 0, 0); }
    30%, 50%, 70% { transform: translate3d(-2%, 0, 0); }
    40%, 60% { transform: translate3d(2%, 0, 0); }
  }

/* ----- Gameplay CSS below ----- */

body
{
    max-width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    line-height: 16px;
}

main
{
    display: grid;
    grid-template-columns: 19.5vw 1fr 19.5vw;
    max-width: 100%;
    height: 100vh;
    margin: 0 auto 0 auto;
    background-color: var(--game_bg_colour);
}

#bg_audio_1, #bg_audio_2
{
    position: absolute;
    left: 0.1vw;
    top: 92vh;
    display: none;
}

audio
{
    position: absolute;
    top: 0;
    display: none;
}

#gamescreen_section
{   
    display: grid;
    width: 60vw;
    height: 95vh;
    margin: 0 auto 0 auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-image: url("../img/space_bg_gameplay_gif.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-self: center;
    z-index: 1;
}

.side_of_gamescreen
{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    background-color: unset;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--txt_colour_white);
    grid-template-rows: auto;
    margin-top: 5vh;
}

#left_section_gamescreen > div
{
    /*background-image: url("../img/spaceship_interior_left_2.jpg");
    background-position: 94%;*/ 
    grid-row: 1;
    grid-column: 1;
} 

.side_of_gamescreen > div > img
{
    max-width: 100%;
    height: 90vh;
    margin-top: 2.5vh;
} 

#right_section_gamescreen > div
{
    /*background-image: url("../img/spaceship_interior_right_2.jpg");
    background-position: 13%;*/
    grid-row: 1;
    grid-column: 1;
}

#right_section_gamescreen > div > img
{
    max-width: 100%;
    max
} 

.spaceship
{
    animation: spaceship 1.5s;
    animation: shake_2 4s;
    /*animation: shake 0.8s;*/
    animation-iteration-count: infinite;  
    display: grid;
    justify-self: center; /*Ask Kadeem about justify again*/
    background-color: var(--spaceship_bg_colour);
    color: var(--txt_colour_white);
    background-image: url("../img/spaceship_art_2.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 0;
    border: none;
    border-radius: 5px;
    height: 15vh;
    width: 98%;
    z-index: 3;
    cursor: crosshair;
}

.spaceship > *
{
    pointer-events: none;
}

.spaceship > h3
{
    animation: spaceship_numbers 0.75s;
    max-width: 100%;
    font-size: 1.2em;
    word-spacing: 0.6rem;
    text-align: center;
    align-self: center;
    padding-bottom: 30%;
    color: var(--txt_colour_spaceship);
    z-index: 2;
   /*padding: 10px 60px; /*Ask Kadeem how to get padding size to be exactly equal for each bubble, no matter the bubble content*/
}

#bot_gun_div
{
    max-width: 100%;
    /*margin-top: 500px;*/
}

#bot_gun_div img
{
    animation: gunner_projectile 1s;
    animation: shake_2 4s;
    position: absolute;
    width: 10%;
    bottom: 2.5%;
    left: 21%; /*211.17px;*/
    z-index: 1;
}

#gun
{
    animation: gunner 1s;
    animation: shake_2 4s;
    display: grid;
    position: absolute;
    bottom: 2.5%;
    left: 21%; /*210.6px;*/
    width: 10%;
    height: 22%;
    text-align: center;
    background-color: var(--gun_bg_colour);
    background-image: url("../img/gunship_art.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    color: var(--txt_colour_gun);
    z-index: 2;
    cursor: pointer;
}

#gun > *
{
    pointer-events: none;
}

#gun h3
{   
    animation: gunner_number 0.75s;
    align-self: center;
    max-width: 100%;
    font-size: 1.8em;
    padding-bottom: 35%;
}
/*.spaceship
{
    display: grid;
    background-color: red;
    max-width: 800px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}*/
